<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- First  -->
	<bean class="com.springcore.setter_inj.Student" name="student1">
		<property name="studentId">
			<value>2530100</value>
		</property>
		<!-- Second way to how to put value -->
		<!-- <property name="studentId" value="252322"> -->
		<property name="studentName">
			<value>OM SOLANKI</value>
		</property>
		<property name="studentAddress">
			<value>Dwarka</value>
		</property>
	</bean>

	 <!-- Second Way -->

	<bean class="com.springcore.setter_inj.Student" name="student2">
		<property name="studentId" value="2530101" />
		<property name="studentName" value="john" />
		<property name="studentAddress" value="Mumbai" />
	</bean>
	
	<bean class="com.springcore.setter_inj.Student" name="student3" p:studentId ="2523241" p:studentName ="Bob"  p:studentAddress ="Mumbai"/>
	
</beans>

